<?xml version="1.0" encoding="UTF-8"?>
<server description="GalenoSV Server">

    <featureManager>
        <feature>jakartaee-11.0</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

    <basicRegistry id="basic">
        <user name="admin" password="${env.GALENO_ADMIN_PASSWORD}"/>
        <user name="clinico" password="${env.GALENO_CLINICO_PASSWORD}"/>
        <group name="ADMINISTRADOR">
            <member name="admin"/>
        </group>
        <group name="PERSONAL_CLINICO">
            <member name="clinico"/>
        </group>
    </basicRegistry>


    <keyStore id="defaultKeyStore" password="${env.keystore_password}"/>

    <!-- Permite acceso HTTP sin forzar redireccion a HTTPS en desarrollo -->
    <webAppSecurity httpsRequired="false" ssoRequiresSSL="false"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>

    <variable name="GALENOSV_DB_HOST" defaultValue="localhost"/>
    <variable name="GALENOSV_DB_PORT" defaultValue="5432"/>
    <variable name="GALENOSV_DB_NAME" defaultValue="galenoSV"/>
    <variable name="GALENOSV_DB_USER" defaultValue="admin"/>
    <variable name="GALENOSV_WAR" defaultValue="GalenoSV.war"/>

    <dataSource id="galenoSV" jndiName="jdbc/galenoSV">
        <jdbcDriver libraryRef="PostgreSQLLib"/>
        <properties.postgresql
            serverName="${GALENOSV_DB_HOST}"
            portNumber="${GALENOSV_DB_PORT}"
            databaseName="${GALENOSV_DB_NAME}"
            user="${GALENOSV_DB_USER}"
            password="${env.GALENOSV_DB_PASSWORD}"/>
    </dataSource>

    <library id="PostgreSQLLib">
        <fileset dir="${server.config.dir}/lib" includes="postgresql-*.jar"/>
    </library>

    <webApplication location="${GALENOSV_WAR}" contextRoot="/galenoSV">
    <classloader apiTypeVisibility="spec,ibm-api,api,third-party"/>
</webApplication>

</server>
